@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@

@css = {
    <link href="@routes.Assets.versioned("css/custom_css/dashboard1.css")" rel="stylesheet" type="text/css"/>
    <link href="@routes.Assets.versioned("vendors/bower-jvectormap/css/jquery-jvectormap-1.2.2.css")" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="@routes.Assets.versioned("vendors/chartist/css/chartist.min.css")">
    <link href="@routes.Assets.versioned("vendors/morrisjs/morris.css")" rel="stylesheet" type="text/css"/>
}

@js = {
    <script src="@routes.Assets.versioned("vendors/countupcircle/js/jquery.countupcircle.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("vendors/granim/js/granim.min.js")" type="text/javascript"></script>

    <script src="@routes.Assets.versioned("vendors/flotchart/js/jquery.flot.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("vendors/flotchart/js/jquery.flot.resize.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("vendors/flotchart/js/jquery.flot.time.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("vendors/flotchart/js/jquery.flot.symbol.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("vendors/flotchart/js/jquery.flot.pie.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("vendors/flotchart/js/jquery.flot.stack.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("vendors/flot.tooltip/js/jquery.flot.tooltip.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("vendors/flotspline/js/jquery.flot.spline.min.js")" type="text/javascript"></script>

    <script type="text/javascript" src="@routes.Assets.versioned("vendors/chartist/js/chartist.min.js")"></script>

    <script type="text/javascript" src="@routes.Assets.versioned("vendors/morrisjs/morris.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("vendors/d3/d3.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("vendors/nvd3/js/nv.d3.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/custom_js/stream_layers.js")"></script>

    <script src="@routes.Assets.versioned("vendors/bower-jvectormap/js/jquery-jvectormap-1.2.2.min.js")"></script>
    <script src="@routes.Assets.versioned("vendors/bower-jvectormap/js/jquery-jvectormap-world-mill-en.js")"></script>

    <script src="@routes.Assets.versioned("js/dashboard1.js")" type="text/javascript"></script>
}

@layouts.system(css, js) {

    <section class="content-header">
        <div class="index-header">
            <div class="inner-bg">
                <div class="header-section">
                    <div class="row">
                        <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
                            <h1>Welcome <span class="hidden-md">To Dashboard</span></h1>
                        </div>
                        <div class="col-md-8 col-lg-6">
                            <div class="row text-center">
                                <div class="col-xs-4 col-sm-3">
                                    <h2>
                                        <strong>97.3k</strong>
                                        <br>
                                        <small>
                                            <i class="fa fa-thumbs-o-up"></i>
                                            Great
                                        </small>
                                    </h2>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <h2 class="animation-hatch">
                                        <strong>197k</strong>
                                        <br>
                                        <small>
                                            <i class="fa fa-heart-o"></i>
                                            Likes
                                        </small>
                                    </h2>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <h2 class="animation-hatch">
                                        <strong>211</strong>
                                        <br>
                                        <small>
                                            <i class="fa fa-calendar-o"></i>
                                            Events
                                        </small>
                                    </h2>
                                </div>
                                <div class="col-sm-3 hidden-xs">
                                    <h2 class="animation-hatch">
                                        <strong>28°C</strong>
                                        <br>
                                        <small>
                                            <i class="fa fa-map-marker"></i>
                                            Canada
                                        </small>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!--section ends-->
    <section class="content sec-mar">
        <div class="row">
            <div class="col-md-12">
                <div class="row tiles-row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 tile-bottom">
                        <div class="canvas-interactive-wrapper1">
                            <canvas id="canvas-interactive1"></canvas>
                            <div class="cta-wrapper1">
                                <div class="widget" data-count=".num" data-from="0"
                                data-to="99.9" data-suffix="%" data-duration="2">
                                    <div class="item">
                                        <div class="widget-icon pull-left icon-color animation-fadeIn">
                                            <i class="fa fa-fw fa-shopping-cart fa-size"></i>
                                        </div>
                                    </div>
                                    <div class="widget-count panel-white">
                                        <div class="item-label text-center">
                                            <div id="count-box" class="count-box">119</div>
                                            <span class="title">Today Sales</span>
                                        </div>
                                        <div class="text-center">
                                            <span><i class="fa fa-level-up" aria-hidden="true"></i></span>
                                            <strong>12 more Sales</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 tile-bottom">
                        <div class="widget" data-count=".num" data-from="0"
                        data-to="512" data-duration="3">
                            <div class="canvas-interactive-wrapper2">
                                <canvas id="canvas-interactive2"></canvas>
                                <div class="cta-wrapper2">
                                    <div class="item">
                                        <div class="widget-icon pull-left icon-color animation-fadeIn">
                                            <i class="fa fa-fw fa-paw fa-size"></i>
                                        </div>
                                    </div>
                                    <div class="widget-count panel-white">
                                        <div class="item-label text-center">
                                            <div id="count-box2" class="count-box">316</div>
                                            <span class="title">Daily Visits</span>
                                        </div>
                                        <div class="text-center">
                                            <span><i class="fa fa-level-up" aria-hidden="true"></i></span>
                                            <strong>60 Bounce Rate</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 tile-bottom">
                        <div class="widget" data-suffix="k" data-count=".num"
                        data-from="0" data-to="310" data-duration="4" data-easing="false">
                            <div class="canvas-interactive-wrapper3">
                                <canvas id="canvas-interactive3"></canvas>
                                <div class="cta-wrapper3">
                                    <div class="item">
                                        <div class="widget-icon pull-left icon-color animation-fadeIn">
                                            <i class="fa fa-fw fa-usd fa-size"></i>
                                        </div>
                                    </div>
                                    <div class="widget-count panel-white">
                                        <div class="item-label text-center">
                                            <div id="count-box3" class="count-box">544</div>
                                            <span class="title">Total income</span>
                                        </div>
                                        <div class="text-center">
                                            <span><i class="fa fa-level-up" aria-hidden="true"></i></span>
                                            <strong>120 more income</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 tile-bottom">
                        <div class="widget">
                            <div class="canvas-interactive-wrapper4">
                                <canvas id="canvas-interactive4"></canvas>
                                <div class="cta-wrapper4">
                                    <div class="item">
                                        <div class="widget-icon pull-left icon-color animation-fadeIn">
                                            <i class="fa fa-bar-chart-o fa-size"></i>
                                        </div>
                                    </div>
                                    <div class="widget-count panel-white">
                                        <div class="item-label text-center">
                                            <div id="count-box4" class="count-box">1598</div>
                                            <span class="title">Total Sales</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default1">
                    <div class="panel-heading">
                        <h3 class="panel-title">Site Activity</h3>
                        <ul class="nav nav-tabs nav-float pull-right" role="tablist">
                            <li class="active">
                                <a href="index.html#home" role="tab" data-toggle="tab">Stats</a>
                            </li>
                            <li>
                                <a href="index.html#profile" role="tab" data-toggle="tab">Sales</a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="home">
                                <div class="row">
                                    <div class="col-md-8 col-xs-12 stat-chart">
                                        <div id="chart6" class='with-3d-shadow with-transitions'>
                                            <svg></svg>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <h4>Stats</h4>
                                        <div class="task-item">
                                            Total Sold
                                            <small class="pull-right text-muted">40%</small>
                                            <div class="progress progress-sm">
                                                <div role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                                aria-valuemax="100" style="width: 40%;"
                                                class="progress-bar progress-bar-primary">
                                                    <span class="sr-only">40% Complete (success)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="task-item">
                                            Product Delivered
                                            <small class="pull-right text-muted">60%</small>
                                            <div class="progress progress-sm">
                                                <div role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                aria-valuemax="100" style="width: 60%;"
                                                class="progress-bar progress-bar-success">
                                                    <span class="sr-only">60% Complete (success)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="task-item">
                                            Sale Reports
                                            <small class="pull-right text-muted">55%</small>
                                            <div class="progress progress-sm">
                                                <div role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                                aria-valuemax="100" style="width: 55%;"
                                                class="progress-bar progress-bar-info">
                                                    <span class="sr-only">55% Complete (success)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="task-item">
                                            New Projects
                                            <small class="pull-right text-muted">66%</small>
                                            <div class="progress progress-sm">
                                                <div role="progressbar" aria-valuenow="66" aria-valuemin="0"
                                                aria-valuemax="100" style="width: 66%;"
                                                class="progress-bar progress-bar-warning">
                                                    <span class="sr-only">66% Complete (success)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="task-item">
                                            New Users
                                            <small class="pull-right text-muted">90%</small>
                                            <div class="progress progress-sm">
                                                <div role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                                aria-valuemax="100" style="width: 90%;"
                                                class="progress-bar progress-bar-danger">
                                                    <span class="sr-only">90% Complete (success)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="task-item">
                                            Total Income
                                            <small class="pull-right text-muted">50%</small>
                                            <div class="progress progress-sm">
                                                <div role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                                aria-valuemax="100" style="width: 50%;"
                                                class="progress-bar progress-bar-primary">
                                                    <span class="sr-only">50% Complete (success)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 col-xs-12 sales-tab">
                                        <div id="basicFlotLegend"></div>
                                        <div id="placeholder" style="width:100%; height: 291px"></div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-xs-12">
                                        <div id="donut" style="width:94%; height: 300px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="panel panel-widget">
                    <div class="panel-heading">
                        <h3 class="panel-title">Dedicated Server Load</h3>
                    </div>
                    <div class="panel-body">
                        <div class="server-load">
                            <div class="server-stat pull-left text-center">
                                <p>312 GB</p>
                                <span>Usage</span>
                            </div>
                            <div class="server-stat pull-left text-center">
                                <p>500 GB</p>
                                <span>Space</span>
                            </div>
                            <div class="server-stat pull-left text-center">
                                <p>62.4%</p>
                                <span>CPU</span>
                            </div>
                        </div>
                        <div>
                            <div id="flotchart2"></div>
                        </div>
                        <div class="col-md-12 server-buttons">
                            <div class="col-xs-6 zero-padding">
                                <button class="btn btn-block btn-danger server-cache">Purge Cache</button>
                            </div>
                            <div class="col-xs-6 zero-padding">
                                <button class="btn btn-block btn-default server-reset">Reset Server</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 revenue-panel">
                <div class="panel panel-widget">
                    <div class="panel-heading revenue">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="col-md-6 col-xs-6 rev-divider">
                                    <h4>$365.76</h4>
                                    <small>Gross Revenue</small>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <h4>$245.34</h4>
                                    <small>Net Revenue</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" id="revenue-chart">
                        <div class="ct-chart1 ct-perfect-fourth ct-perfect-fourth1"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 task_panel">
                <div class="panel panel-widget">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tasks </h3>
                    </div>
                    <div class="panel-body">
                        <form class="row list_of_items">
                            <div class="todolist_list showactions">
                                <div class="col-md-9 col-sm-9 col-xs-8 nopadmar custom_textbox1">
                                    <div class="todoitemcheck checkbox checkbox-info">
                                        <input type="checkbox" class="striked styled">
                                        <label>
                                        </label>
                                    </div>
                                    <div class="todotext  todoitemjs"> Advertisement</div>
                                </div>
                                <div class="col-md-2  col-sm-2 col-xs-3 todoitembtns">
                                    <a href="index.html#" class="tododelete redcolor pull-right">
                                        <i class="fa fa-times showbtns" aria-hidden="true"></i>
                                    </a>
                                    <span class="striks pull-right showbtns">|</span>
                                    <a href="index.html#" class="todoedit  pull-right">
                                        <i class="fa fa-pencil showbtns" aria-hidden="true"></i>
                                    </a>
                                    <a href="index.html#" class="un-do pull-right" hidden>
                                        <i class="fa fa-repeat showbtns" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="todolist_list showactions">
                                <div class="col-md-9 col-sm-9 col-xs-8 nopadmar custom_textbox1">
                                    <div class="todoitemcheck checkbox checkbox-info">
                                        <input type="checkbox" class="striked">
                                        <label>
                                        </label>
                                    </div>
                                    <div class="todotext  todoitemjs">Get-together</div>
                                </div>
                                <div class="col-md-2  col-sm-2 col-xs-3 todoitembtns">
                                    <a href="index.html#" class="tododelete redcolor pull-right">
                                        <i class="fa fa-times showbtns" aria-hidden="true"></i>
                                    </a>
                                    <span class="striks pull-right showbtns">|</span>
                                    <a href="index.html#" class="todoedit pull-right">
                                        <i class="fa fa-pencil showbtns" aria-hidden="true"></i>
                                    </a>
                                    <a href="index.html#" class="un-do pull-right" hidden>
                                        <i class="fa fa-repeat showbtns" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="todolist_list showactions">
                                <div class="col-md-9 col-sm-9 col-xs-8 nopadmar custom_textbox1">
                                    <div class="todoitemcheck checkbox checkbox-info">
                                        <input type="checkbox" class="striked">
                                        <label>
                                        </label>
                                    </div>
                                    <div class="todotext  todoitemjs"> Test Crew Meet</div>
                                </div>
                                <div class="col-md-2  col-sm-2 col-xs-3 todoitembtns">
                                    <a href="index.html#" class="tododelete redcolor pull-right">
                                        <i class="fa fa-times showbtns" aria-hidden="true"></i>
                                    </a>
                                    <span class="striks pull-right showbtns">|</span>
                                    <a href="index.html#" class="todoedit pull-right">
                                        <i class="fa fa-pencil showbtns" aria-hidden="true"></i>
                                    </a>
                                    <a href="index.html#" class="un-do pull-right" hidden>
                                        <i class="fa fa-repeat showbtns" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="todolist_list showactions">
                                <div class="col-md-9 col-sm-9 col-xs-8 nopadmar custom_textbox1">
                                    <div class="todoitemcheck checkbox checkbox-info">
                                        <input type="checkbox" class="striked">
                                        <label>
                                        </label>
                                    </div>
                                    <div class="todotext  todoitemjs">Technical</div>
                                </div>
                                <div class="col-md-2  col-sm-2 col-xs-3 todoitembtns">
                                    <a href="index.html#" class="tododelete redcolor pull-right">
                                        <i class="fa fa-times showbtns" aria-hidden="true"></i>
                                    </a>
                                    <span class="striks pull-right showbtns">|</span>
                                    <a href="index.html#" class="todoedit pull-right">
                                        <i class="fa fa-pencil showbtns" aria-hidden="true"></i>
                                    </a>
                                    <a href="index.html#" class="un-do pull-right" hidden>
                                        <i class="fa fa-repeat showbtns" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="todolist_list showactions">
                                <div class="col-md-9 col-sm-9 col-xs-8 nopadmar custom_textbox1">
                                    <div class="todoitemcheck checkbox checkbox-info">
                                        <input type="checkbox" class="striked">
                                        <label>
                                        </label>
                                    </div>
                                    <div class="todotext  todoitemjs">Non-Technical</div>
                                </div>
                                <div class="col-md-2  col-sm-2 col-xs-3 todoitembtns">
                                    <a href="index.html#" class="tododelete redcolor pull-right">
                                        <i class="fa fa-times showbtns" aria-hidden="true"></i>
                                    </a>
                                    <span class="striks pull-right showbtns">|</span>
                                    <a href="index.html#" class="todoedit pull-right">
                                        <i class="fa fa-pencil showbtns" aria-hidden="true"></i>
                                    </a>
                                    <a href="index.html#" class="un-do pull-right" hidden>
                                        <i class="fa fa-repeat showbtns" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </form>
                        <div class="todolist_list adds task add_new">
                            <form role="form" id="main_input_box" class="form-inline">
                                <div class="form-group pull-left">
                                    <label class="control-label sr-only" for="custom_textbox">Add Task</label>
                                    <input id="custom_textbox" name="item" type="text" required
                                    placeholder="Add list item here" class="form-control"/>
                                </div>
                                <span>
                                    <input type="submit" value="Add Task"
                                    class="btn btn-primary add_button add_task"/>
                                    <input type="button" value="Save" class="btn btn-info save_todo"/>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-widget">
                    <div class="panel-heading">
                        <h3 class="panel-title">Project Status</h3>
                    </div>
                    <div class="panel-body">
                        <div id="hero-bar" class="graph"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-widget">
                    <div class="panel-heading">
                        <h3 class="panel-title">Browser Interest</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="basic-list">
                            <li><img src="@routes.Assets.versioned("img/chrome.png")" alt="chrome">Google Chrome
                                <span class="right label label-success pull-right">42.8%</span></li>
                            <li><img src="@routes.Assets.versioned("img/firefox.png")" alt="firefox">Firefox
                                <span class="right label label-danger pull-right">16.9%</span></li>
                            <li><img src="@routes.Assets.versioned("img/safari.png")" alt="safari">Safari
                                <span class="right label label-primary pull-right">15.5%</span></li>
                            <li><img src="@routes.Assets.versioned("img/opera.png")" alt="opera">Opera
                                <span class="right label label-info pull-right">11.8%</span></li>
                            <li><img src="@routes.Assets.versioned("img/Ie.png")" alt="Internet Explorer">Internet Explorer
                                <span class="right label label-danger pull-right">3.2%</span></li>
                            <li><img src="@routes.Assets.versioned("img/mobile.png")" alt="mobile">Mobile
                                <span class="right label label-warning pull-right">3%</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 social-widgets">
                <div class="social-tiles">
                    <div class="social google">
                        <i class="fa fa-google" aria-hidden="true"></i>
                        <span class="visible-cont pull-right text-center"><span>6.3k</span><br>Connected</span>
                        <span class="overlay text-center"><span>6.3k</span><br>Connected</span>
                    </div>
                    <div class="social facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <span class="visible-cont pull-right text-center"><span>5.7k</span><br>Likes</span>
                        <span class="overlay text-center"><span>5.7k</span><br>Likes</span>
                    </div>
                    <div class="social twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <span class="visible-cont pull-right text-center"><span>3.3k</span><br>Followers</span>
                        <span class="overlay text-center"><span>3.3k</span><br>Followers</span>
                    </div>
                    <div class="social linkedin">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <span class="visible-cont pull-right text-center"><span>2.3k</span><br>Connected</span>
                        <span class="overlay text-center"><span>2.3k</span><br>Connected</span>
                    </div>
                    <div class="social youtube">
                        <i class="fa fa-youtube-square" aria-hidden="true"></i>
                        <span class="visible-cont pull-right text-center"><span>7.3k</span><br>Hits</span>
                        <span class="overlay text-center"><span>7.3k</span><br>Hits</span>
                    </div>
                    <div class="social dribbble">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                        <span class="visible-cont pull-right text-center"><span>100</span><br>Shots</span>
                        <span class="overlay text-center"><span>100</span><br>Shots</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row maps-row">
            <div class="col-md-12">
                <div class="col-md-8 col-xs-12 zero-padding">
                    <div id="world-map-markers"></div>
                </div>
                <div class="col-md-4 col-xs-12 stat-details">
                    <div class="stat-head">
                        <h4>Statistics:</h4>
                        <p>Status: Live</p>
                        <p><i class="fa fa-map-marker stat-icon" aria-hidden="true"></i>48 Counties,
                            698 Cities</p>
                        <div>
                            <p><i class="fa fa-thumbs-o-up stat-icon" aria-hidden="true"></i> 2,543</p>
                            <small>Desktop Visits</small>
                            <small class="pull-right text-muted">75%</small>
                            <div class="progress progress-stats">
                                <div role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                style="width: 75%;" class="progress-bar progress-bar-danger">
                                    <span class="sr-only">75% Complete (success)</span>
                                </div>
                            </div>
                            <small>Tab Visits</small>
                            <small class="pull-right text-muted">8%</small>
                            <div class="progress progress-stats">
                                <div role="progressbar" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100"
                                style="width: 8%;" class="progress-bar progress-bar-primary">
                                    <span class="sr-only">8% Complete (success)</span>
                                </div>
                            </div>
                            <small>Mobile Visits</small>
                            <small class="pull-right text-muted">17%</small>
                            <div class="progress progress-stats">
                                <div role="progressbar" aria-valuenow="17" aria-valuemin="0" aria-valuemax="100"
                                style="width: 17%;" class="progress-bar progress-bar-warning">
                                    <span class="sr-only">17% Complete (success)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="right">
            <div id="slim2">
                <div class="rightsidebar-right">
                    <div class="rightsidebar-right-content">
                        <h5 class="rightsidebar-right-heading rightsidebar-right-heading-first text-uppercase text-xs">
                            <i class="menu-icon  fa fa-fw fa-paw"></i>
                            Contacts
                        </h5>
                        <ul class="list-unstyled margin-none">
                            <li class="rightsidebar-contact-wrapper">
                                <a class="rightsidebar-contact" href="index.html#">
                                    <img src="@routes.Assets.versioned("img/authors/avatar1.jpg")" height="20" width="20" alt="avatar-image"
                                    class="img-circle pull-right">
                                    <i class="fa fa-circle text-xs text-primary"></i>
                                    Alanis
                                </a>
                            </li>
                            <li class="rightsidebar-contact-wrapper">
                                <a class="rightsidebar-contact" href="index.html#">
                                    <img src="@routes.Assets.versioned("img/authors/avatar.jpg")" height="20" width="20" alt="avatar-image"
                                    class="img-circle pull-right">
                                    <i class="fa fa-circle text-xs text-primary"></i>
                                    Rolando
                                </a>
                            </li>
                            <li class="rightsidebar-contact-wrapper">
                                <a class="rightsidebar-contact" href="index.html#">
                                    <img src="@routes.Assets.versioned("img/authors/avatar2.jpg")" height="20" width="20" alt="avatar-image"
                                    class="img-circle pull-right">
                                    <i class="fa fa-circle text-xs text-primary"></i>
                                    Marlee
                                </a>
                            </li>
                            <li class="rightsidebar-contact-wrapper">
                                <a class="rightsidebar-contact" href="index.html#">
                                    <img src="@routes.Assets.versioned("img/authors/avatar3.jpg")" height="20" width="20" alt="avatar-image"
                                    class="img-circle pull-right">
                                    <i class="fa fa-circle text-xs text-warning"></i>
                                    Marlee
                                </a>
                            </li>
                            <li class="rightsidebar-contact-wrapper">
                                <a class="rightsidebar-contact" href="index.html#">
                                    <img src="@routes.Assets.versioned("img/authors/avatar4.jpg")" height="20" width="20" alt="avatar-image"
                                    class="img-circle pull-right">
                                    <i class="fa fa-circle text-xs text-danger"></i>
                                    Kamryn
                                </a>
                            </li>
                            <li class="rightsidebar-contact-wrapper">
                                <a class="rightsidebar-contact" href="index.html#">
                                    <img src="@routes.Assets.versioned("img/authors/avatar5.jpg")" height="20" width="20" alt="avatar-image"
                                    class="img-circle pull-right">
                                    <i class="fa fa-circle text-xs text-muted"></i>
                                    Cielo
                                </a>
                            </li>
                            <li class="rightsidebar-contact-wrapper">
                                <a class="rightsidebar-contact" href="index.html#">
                                    <img src="@routes.Assets.versioned("img/authors/avatar7.jpg")" height="20" width="20" alt="avatar-image"
                                    class="img-circle pull-right">
                                    <i class="fa fa-circle text-xs text-muted"></i>
                                    Charlene
                                </a>
                            </li>
                        </ul>

                        <h5 class="rightsidebar-right-heading text-uppercase text-xs">
                            <i class="fa fa-fw fa-tasks"></i>
                            Tasks
                        </h5>
                        <ul class="list-unstyled m-t-25">
                            <li>
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <small class="pull-right text-muted">40% Complete</small>
                                    </p>
                                    <div class="progress progress-xs progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar"
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <small class="pull-right text-muted">20% Complete</small>
                                    </p>
                                    <div class="progress progress-xs progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <small class="pull-right text-muted">60% Complete</small>
                                    </p>
                                    <div class="progress progress-xs progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar"
                                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <small class="pull-right text-muted">80% Complete</small>
                                    </p>
                                    <div class="progress progress-xs progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar"
                                        aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h5 class="rightsidebar-right-heading text-uppercase text-xs">
                            <i class="fa fa-fw fa-group"></i>
                            Recent Updates
                        </h5>
                        <div>
                            <ul class="list-unstyled">
                                <li class="rightsidebar-notification">
                                    <a href="index.html#">
                                        <i class="fa fa-comment fa-fw text-primary"></i>
                                        New Comment
                                    </a>
                                </li>
                                <li class="rightsidebar-notification">
                                    <a href="index.html#">
                                        <i class="fa fa-twitter fa-fw text-success"></i>
                                        3 New Followers
                                    </a>
                                </li>
                                <li class="rightsidebar-notification">
                                    <a href="index.html#">
                                        <i class="fa fa-envelope fa-fw text-info"></i>
                                        Message Sent
                                    </a>
                                </li>
                                <li class="rightsidebar-notification">
                                    <a href="index.html#">
                                        <i class="fa fa-tasks fa-fw text-warning"></i>
                                        New Task
                                    </a>
                                </li>
                                <li class="rightsidebar-notification">
                                    <a href="index.html#">
                                        <i class="fa fa-upload fa-fw text-danger"></i>
                                        Server Rebooted
                                    </a>
                                </li>
                                <li class="rightsidebar-notification">
                                    <a href="index.html#">
                                        <i class="fa fa-warning fa-fw text-primary"></i>
                                        Server Not Responding
                                    </a>
                                </li>
                                <li class="rightsidebar-notification">
                                    <a href="index.html#">
                                        <i class="fa fa-shopping-cart fa-fw text-success"></i>
                                        New Order Placed
                                    </a>
                                </li>
                                <li class="rightsidebar-notification">
                                    <a href="index.html#">
                                        <i class="fa fa-money fa-fw text-info"></i>
                                        Payment Received
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- /#right --> </section>

}
