@css = {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("vendors/sweetalert2/css/sweetalert2.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/custom_css/sweet_alert2.css")">
}

@js = {
    <script type="text/javascript" src="@routes.Assets.versioned("vendors/sweetalert2/js/sweetalert2.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/custom_js/sweetalert.js")"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script src="@routes.Assets.versioned("js/new_questionnaire.js")" type="text/javascript"></script>
}

@layouts.system(Html(""), js) {
    <section class="content-header">
        <h1>
            Новое исследование
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="@routes.DashboardController.index()">
                    <i class="fa fa-fw fa-home"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="@routes.QuestionnaireController.index()">
                    Список исследований
                </a>
            </li>
            <li class="active">
                Новое исследование
            </li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Создание исследования</h3>
                    </div>

                    <div class="panel-body">

                        <form id="form_main" action="@routes.QuestionnaireController.ajaxCreate">
                            <div class="form-group">
                                <label for='form_title'>Заголовок</label>
                                <input id="form_title" type="text" name="title" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for='form_status'>
                                    <input id="form_status" type="checkbox" checked name="isActive" value="1" />
                                    Активен
                                </label>
                            </div>
                            <div id="questions">
                            </div>
                            <div class="form-group">
                                <button id="form_add_question" class="btn btn-success">
                                    Добавить вопрос
                                </button>
                            </div>
                            <div class="form-group">
                                <button id="form_send" type="submit" class="btn btn-success">
                                    Отправить
                                </button>
                            </div>
                        </form>

                        <script id="template_question" type="text/template">
                            <div class="form-group">
                                <label for="form_question<%- id %>">Заголовок вопроса</label>
                                <input id="form_question<%- id %>" type="text" name="questions[title]" class="form-control" required />
                            </div>

                            <div class="form-group">
                                <label for="form_type<%- id %>">Тип вопроса</label>
                                <select id="form_type<%- id %>" name="questions[type]" class="form-control" required data-answer>
                                    <option value="1">a. Простые</option>
                                    <option value="2">b. Качественные</option>
                                    <option value="3">c. Один из множества</option>
                                    <option value="4">d. Множественная выборка</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <button data-remove class="btn btn-danger">Удалить</button>
                            </div>

                            <div data-answer-div></div>

                            <hr />
                        </script>

                        <script id="template_answers" type="text/template">
                            <div class="form-group">
                                <label for="form_answers<%- id %>"></label>
                                <input type="text" id="form_answers<%- id %>" class="form-control" />
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary" data-add-answer>Добавить ответ</button>
                            </div>

                            <div data-answers></div>
                        </script>

                        <script id="template_answer" type="text/template">
                            <span>• <%- answerText %></span>
                            <input type="hidden" value="<%- answerText %>" name="questions[answers]" class="btn btn-danger"/><button data-remove-answer>Удалить</button>
                        </script>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Процесс заполнения</h4>
            </div>
        </div>
    </section>
}