@(questionnaire: Questionnaire)

@layouts.system() {
    <section class="content-header">
        <h1>
            Исследование: @Html(questionnaire.getTitle)
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="@routes.DashboardController.index()">
                    <i class="fa fa-fw fa-home"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="@routes.QuestionnaireController.index()">
                    Список исследований
                </a>
            </li>
            <li class="active">
            @Html(questionnaire.getTitle) - пройти исследование
            </li>
        </ol>
    </section>

    <section class="content">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Пройти исследование
                </h3>
            </div>

            <div class="panel-body">
                <form>
                    @for(question <- questionnaire.getQuestions) {
                        <h4>Вопрос: @Html(question.getName)</h4><br />
                        @question.getType match {
                            case 0 => {

                            }

                            case 1 => {
                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="test[@question.getId]">
                                        Да
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="test[@question.getId]">
                                        Нет
                                    </label>
                                </div>
                            }

                            case 2 => {
                                @for(answer <- question.getAnswers) {
                                    <div class="form-group">
                                        <label>
                                            <input type="radio" name="answer[@question.getId]">
                                            @Html(answer.getValue)
                                        </label>
                                    </div>
                                }
                            }

                            case 3 => {
                                @for(answer <- question.getAnswers) {
                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" name="answer[@question.getId]">
                                            @Html(answer.getValue)
                                        </label>
                                    </div>
                                }
                            }
                        }
                        <hr />
                    }

                    <button class="btn btn-success">Закончить</button>
                </form>
            </div>
        </div>
    </section>
}