@import java.util

@(questionnaires: util.List[Questionnaire])

@layouts.system() {

    <section class="content-header">
        <h1>
            Список исследований
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="@routes.DashboardController.index()">
                    <i class="fa fa-fw fa-home"></i> Dashboard
                </a>
            </li>
            <li class="active">
                Список исследований
            </li>
        </ol>
    </section>

    <section class="content">

        <div class="actions-bar">
            <a href="@routes.QuestionnaireController.create()" class="btn btn-success">Создать новое исследование</a>
        </div> <br />

        @if(questionnaires.isEmpty) {
            <h3>Упс, исследований пока нет!</h3>
            <h5><a href="@routes.DashboardController.index()">Создайте</a> его первым!</h5>
        } else {
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-fw fa-table"></i> Доступные исследования (@questionnaires.size())
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Название</th>
                                    <th>Статус</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(questionnaire <- questionnaires) {
                                    <tr>
                                        <td>@questionnaire.getId</td>
                                        <td>
                                            <a href="@routes.QuestionnaireController.show(questionnaire.getId, QuestionnaireController.SHOW_QUESTIONNAIRE_ACTION)">
                                                @Html(questionnaire.getTitle)
                                            </a>
                                        </td>
                                        <td>
                                            @if(questionnaire.isActive) {
                                                <span class="label label-success">Активен</span>
                                            } else {
                                                <span class="label label-danger">Выключен</span>
                                            }
                                        </td>
                                        <td>
                                            <a href="@routes.QuestionnaireController.show(questionnaire.getId, QuestionnaireController.PASS_QUESTIONNAIRE_ACTION)">
                                                Пройти исследование
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </section>

}