@(questionnaire: Questionnaire)

@layouts.system() {
    <section class="content-header">
        <h1>
            Исследование: @Html(questionnaire.getTitle)
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="@routes.DashboardController.index()">
                    <i class="fa fa-fw fa-home"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="@routes.QuestionnaireController.index()">
                    Список исследований
                </a>
            </li>
            <li class="active">
                @Html(questionnaire.getTitle)
            </li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Основная информация об исследовании
                        </h3>
                        <span class="pull-right">
                            <i class="fa fa-fw fa-chevron-up clickable"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>ID</td>
                                    <td>@questionnaire.getId</td>
                                </tr>
                                <tr>
                                    <td>Заголовок</td>
                                    <td>@Html(questionnaire.getTitle)</td>
                                </tr>
                                <tr>
                                    <td>Статус</td>
                                    <td>
                                        @if(questionnaire.isActive) {
                                            <span class="label label-success">Активен</span>
                                        } else {
                                            <span class="label label-danger">Выключен</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>Владелец</td>
                                    <td>@Html(questionnaire.getOwner.getUsername)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Список вопросов в исследовании
                        </h3>
                        <span class="pull-right">
                            <i class="fa fa-fw fa-chevron-up clickable"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        @if(questionnaire.getQuestions.isEmpty) {
                            <h4>Странно, но вопросы не установлены :(</h4>
                        } else {
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Заголовок</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(question <- questionnaire.getQuestions) {
                                    <tr>
                                        <td>@question.getId</td>
                                        <td>@Html(question.getName)</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}