@import forms.LoginForm
@import views.html.helper.FieldConstructor
@(form: Form[LoginForm])

@implicitField = @{ FieldConstructor(fieldConstructors.loginFieldConstructor.f) }

@layouts.authLayout {
    @helper.form(action = routes.AuthController.processAuth, 'class -> "form-horizontal", 'id -> "authentication") {
        @helper.inputText(form("username"), 'class -> "form-control", '_label -> "Имя полльзователя", '_value -> "qqq")

        @helper.inputPassword(form("password"), 'class -> "form-control", '_label -> "Пароль")

        <div class="form-group">
            <br>
            @if(flash.containsKey("loginError")) {
                <div class="alert alert-danger">@Html(flash.get("loginError"))</div>
            }
            <button type="submit" class="btn btn-primary login-btn">Авторизироваться</button>
            <br>
            <hr>
            <span> Нет аккаунта? <a href="@routes.AuthController.auth()">Зарегистрироваться</a></span>
        </div>
    }
}