@(elements: helper.FieldElements)

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label class="control-label" for="@elements.id">@elements.label.toString.toUpperCase()</label>
            <div class="input-group">
                @elements.input
                <span class="errors">@elements.errors.mkString(", ")</span>
            </div>
        </div>
    </div>
</div>